* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("wp14824645.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #333;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

li a.active {
  font-weight: bold;
}

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.text h1 {
  font-size: 2.5rem;
  color: #e2e2e2;
}

.text p {
  font-size: 1rem;
  color: #b3b3b3;
}


.image img {
  max-width: 100%;
  height: auto;
}


footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}


button {
  height: 50px;
  width: 120px;
  margin-top: -45%; 
  background: #333;
  cursor: pointer;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
}

button:hover {
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
  transform: translateY(-5px);
  transition: 500ms;
}

@media (max-width: 768px) {
  .landing {
    grid-template-columns: 1fr; 
    padding: 20px;
  }

  .text h1 {
    font-size: 2rem;
  }

  .text p {
    font-size: 0.9rem; 
  }


  button {
    display: none;
  }
}

@media (max-width: 480px) {
  nav ul {
    flex-direction: column; 
    gap: 10px; 
  }

  li a {
    font-size: 14px; 
  }

  .text h1 {
    font-size: 1.5rem; 
  }

  .text p {
    font-size: 0.8rem; 
  }

  button {
    width: 100%; 
    margin-top: 20px; 
  }
}